<div class="jumbotron container-fluid">
    <h4 style="margin-bottom:30px"> Log in </h4>
        <form action="/login" method="post">
            <div>
                
                <div class="col-sm-12 col-md-4" style="margin-bottom:10px">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                
                <div class="col-sm-12 col-md-4" style="margin-bottom:10px">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

            </div>
            
            <div>

                <div class="col-sm-6 col-md-4" style="margin-bottom:10px">
                    <input type="submit" class="btn btn-danger" value="Log In">
                </div>
            </div>

        </form>

        <p style="margin-left:0px">Are you new here? Let's <a href="/music/register">Sign Up</a>!</p>
</div>