<!--SEARCH-->
		<div class="container">
			<div class="jumbotron">
				
				<div class="container" align="center">
					
					<div class="input-group">
					
						<span class="input-group-btn">
							<button class="btn btn-default" onclick="redirect('{{dest}}')" id="btn" disabled="true">Go!</button>
						</span>
						
					  	<input type="text" class="form-control" placeholder="{{phrase}}" id="inputForm" onkeyup="buttonActivate('{{dest}}')" onkeypress="enterPressed(event,'{{dest}}')" autofocus>
					    
					</div>
					
				</div>
				
			</div>
		</div>