<!DOCTYPE html>
<html>
	<head>

{{> head}}	
		
{{> style}}
		
	</head>
	
    <body>

{{>navigationbar_selected home="foo"}}

		<!--SEARCH-->
		<div class="container">
			<div class="jumbotron">
				
				<div class="container">
					<div class="row" align="center">
					
					<div class="clearfix visible-md visible-lg"></div>
					
					  <div class="col-sm-6 col-md-6">
						<div class="thumbnail">
						  <a href="./artistsMenu"><img src="https://s12.postimg.org/t56vm3s3t/followers.png" height="200" width="200"></a>
						  <div class="caption">
							<h3>Artists</h3>
						  </div>
						</div>
					  </div> 
					  
					  <div class="col-sm-6 col-md-6">
						<div class="thumbnail">
						  <a href="./searchMenu"><img src="https://s15.postimg.org/sdcccviq3/search.png" height="200" width="200"></a>
						  <div class="caption">
							<h3>Search</h3>
						  </div>
						</div>
					  </div> 
					  
					</div>
				</div>
				
			</div>
		</div>
    </body>
	
</html> 